.si-body {
    height: 100dvh;
    width: 100%;
    padding: 2%;
    display: flex;
}

.si-img {
    height: 100%;
    width: 70%;
    border-radius: 10px 0 0 10px;

}

.si-thumbnail {
    height: 80%;
    width: 100%;
    padding: 2%;
    border-radius: 10px;
    box-shadow:inset 0px 0px 10px 1px grey;
}

.si-thumbnail>img {
    height: 100%;
    width: inherit;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px grey;

}

.si-alt-img {
    width: 70%;
    margin: auto;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
    overflow: hidden;

}
.si-alt-img:hover >img:not(:hover)  {
    opacity:0.2;
} 

.si-alt-img>img {
    height: 100%;
    width: 20%;
    border-radius: 10px;
    transition: transform 1s;
    border: 5px solid  rgb(222, 222, 222);
    box-shadow: 0px 0px 10px 1px grey;

}

.si-alt-img>img:hover {
    transform: scale(1.2);
}

.si-detail{
    height:fit-content;
    width:30%;
    padding: 2%;
    border-radius: 0 10px 10px 0;

}
.si-detail>p:nth-child(5){
    color: red;
    padding: 0;
    margin:0;
    font-size: 1.3rem;
    letter-spacing: 1px;
}
.si-detail>p:nth-child(9),p:nth-child(10){
    padding: 0;
    margin:1%;
}


.si-detail>b{
    color: red;
    font-size: 1.2rem;
}


#si_btn{
    background-color: #6499E9 ;
    border-style: none;
    height: 3rem ;
    color: white ;
    font-size: 1.2rem ;
    font-weight: 600 ;
    border-radius: 10px ;
    width: 100% ;
    text-align: center ;
    margin: 1%;
}
#si_btn:hover{
    font-size: 1.3rem;
    background-color: #4b89e5;
}

.si_item_selector{
    height: 100%;
    width: 25%;
    place-items: center;
    display: flex;
    user-select: none;
    margin: 2% 0;
}
@media screen and (max-width:480px) {
    .si-body {
        display: block;
    }
    .si-img {
        width: 100%;
    }
    .si-alt-img {
        width: 100%;
    }
    .si-detail{
        height:fit-content;
        width:100%;
    }
}