.sc {
    color: whitesmoke;
    display: grid;
    padding: 2%;
    grid-template-columns: 0.2fr 1fr;
}

.sc-filter {
    height: fit-content;
    background-color: #6499E9;
    padding: 10%;
    border-radius: 10px 0 0 10px;
}

.sc-item-div {
    height: fit-content;
}

.sc-filter>ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sc-sort-place {
    height: 5rem;
    background-color: #6499E9;
    border-radius: 0 10px 10px 0;
    display: flex;
    place-items: center;
    padding: 0 3%;
    position: relative;
}

.sc-multi-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1%;
    padding: 2%;
}

.sc-filter-reset {
    width: 100%;
    border-radius: 10px;

}

.sc-filter-reset>button {
    width: 100%;
    border-radius: 10px;
    border-style: none;
    color: #6499E9;
    background-color: white;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: 2px;
    box-shadow: 5px 5px 10px 2px rgb(58, 58, 58);

}
.sc-filter-apply {
    width: 100%;
    border-radius: 10px;
    display: none;
}

.sc-filter-apply>button {
    width: 100%;
    border-radius: 10px;
    border-style: none;
    color: #6499E9;
    background-color: white;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: 2px;
    box-shadow: 5px 5px 10px 2px rgb(58, 58, 58);

}

.sc-filter-reset>button:hover {
    color: red;
    font-size: 1.3rem;
}

.item-sort {
    position: absolute;
    right: 4%;
    width: 10%;
    height: 40%;
    top: 0;
}

#sort>option:nth-child(1) {
    display: none;
}

#sort {
    background-color: white;
    color: #6499E9;
    border-radius: 5px;
    border-style: none;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    height: 100%;
    text-align: center;
    font-weight: 600;
    padding:0 10%;
}

#sort:is(:hover) {
    background-color: #6499E9;
    color: white;
}
#brand{
    background-color: white;
    color: #6499E9;
    border-radius: 5px;
    border-style: none;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    height: 100%;
    text-align: center;
    font-weight: 600;
    padding:2% 10%;
    overflow :hidden;
    width:90%;
}
#brand:is(:hover) {
    background-color:white;
    color: #6499E9 ;
}
.sc_filter_icon{
    display: none;
}
@media screen and (max-width:480px) {
    .sc {
        grid-template-columns: 1fr;
        position: relative;
    }
    .sc-filter {
        display: block;
        position: absolute;
        top:0;
        width: 96%;
        z-index: 3;
        margin: 3% 2%;
        border-radius: 10px ;
        background:#3535357e ;
        padding:3% 10%;
        backdrop-filter: blur(5px);
    }
    .sc-filter>h1{
        color: rgb(255, 255, 255);
        font-weight: 900;
        letter-spacing: 2px;
        font-size: 2.5rem;

    }
    .sc-multi-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1%;
        padding: 2%;
    }
    .sc-sort-place {
        height: 4rem;
        border-radius: 10px;
    }
    .item-sort {
        position: absolute;
        right: 18%;
        width: 10%;
        height: 50%;
        top: -15%;
    }
    .sc_filter_icon{
        display: block;
        position: absolute;
        right: 31%;
        height: fit-content;
        width: 5%;
        top: 13%;
        font-size: 1.5rem;
    }
    .sc-filter-apply {
        width: 100%;
        border-radius: 10px;
        display: block;
    }
}