.carousel {
    background-color: rgb(255, 255, 255);
    background-size: contain;
    width: 90%;
    margin: 1% auto;
    border-radius: 20px;
}

.carousel-inner {
    border-radius: 20px;

}
.carousel-item>img{
    height: 25rem;
}
@media screen and (max-width:480px) {
    .carousel {
        width: 100%;
        margin: 2% auto;
        border-radius: 0;
    }
    .carousel-inner {
        border-radius: 0;
    
    }
}