.card-body {
    height: 10rem;
    display: flex;
}
.card{
    padding: 24px;
}

.cart_item_img {
    height: 100%;
    width: 20%;
}

.cart_item_img>img {
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 10px;
    border: 5px solid rgb(192, 191, 191);
}

.cart_title {
    height: 100%;
    padding: 2%;
    width: 20%;
}

.cart_title>p:nth-child(1) {
    font-size: 1.3rem;
    font-weight: 500;
    max-height: 80%;
    height: fit-content;
    padding: 0;
    overflow: hidden;
    margin: 0;
}

.cart_price {
    height: 100%;
    width: 20%;
    place-items: center;
    display: flex;
}

.cart_price>h5 {
    width: 100%;
    text-align: center;
}

.cart_selector {
    height: 100%;
    width: 15%;
    place-items: center;
    display: flex;
}
.cart-sel-btn{
    height: 30%;
    width: 100%;
}


.cart_setted_price {
    height: 100%;
    width: 20%;
    padding: 2%;
    place-items: center;
    display: flex;
}

.cart_setted_price>h5 {
    width: 100%;
    text-align: center;
}

.cart_item_remove {
    width: 5%;
    height: 100%;
    place-items: center;
    display: flex;
    padding-bottom: 1.6%;
}

.text-danger:hover {
    transform: scale(1.3);
}
@media screen and (max-width:480px) {
    .cart_item_img {
        height: 60%;
        width: 30%;
        display: inline-block;

    }
    .card-body {
        height: 10rem;
        display: block;
        padding: 0;
    }
    .card{
        padding: 2%;
    }
    .cart_title {
        height: 100%;
        padding: 2%;
        width: 60%;
        display: inline-block;
        position: relative;
    }
    .cart_price {
        height: fit-content;
        width: fit-content;
        place-items: center;
        display: block;
        position: absolute;
        top: 42%;
        left: 34%;

    }
    .cart_selector {
        height: fit-content;
        width: 28%;
        place-items: center;
        display: inline-block;
        position: absolute;
        top: 70%;
        left: 2%;
    }
    .cart_setted_price {
        height: fit-content;
        width: fit-content;
        padding: 2%;
        place-items: center;
        display: inline-flex;
        position: absolute;
        top: 68%;
        left: 32%;
    }
    .cart_item_remove {
        width: 5%;
        height: fit-content;
        position: absolute;
        top: 2%;
        right: 2%;
    }
    
}