.category{
    margin-top: .5%;
    height: 8rem;
    width: 100%;
    background-color: rgb(239, 239, 239);
    cursor: pointer;
    user-select: none; 
    margin-bottom: .7%;
}
.category>ul{
    list-style: none;
    color: rgb(29, 58, 133);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1%;
    height:100%;
    width: 100%;
}
.category>ul>li{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    height:100%;
    font-size: 1.2rem;
    font-weight: 800;
    position:relative;
}
.cat-img{
    height:70% ;
    width:70%;
    border-radius: 20px ;
    transition: transform 1s;
}

.cat-img:hover{
    transform: scale(1.2);
}
@media screen and (max-width:480px) {
    .category{
        height: fit-content;
    }
    .category>ul{
        list-style: none;
        color: rgb(29, 58, 133);
        display: grid;
        grid-template-columns:  1fr 1fr 1fr;
        margin: auto;
        padding: 1%;
        height:100%;
        width: 100%;
    }
}