.deals{
    height: fit-content;
    width: 100%;
    background-color: #6499E9;
    border-radius: 10px;
    margin: 0 1% 2% 0%;
    position: relative;
    padding-bottom: 2%;
}

.deals>h2{
    margin: 0;
    padding:1% 0 2% 3%;
    color: white;
    letter-spacing: 4px;
    font-weight: 900;
    font-size: 2rem;
}
.deal-list{
    height:100%;
    padding: 0 1%;
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    scroll-behavior: smooth;
}
.per-item{
    height:inherit;
    width: 100%;
    margin:0 1% ;
}
.carousel-btns{
    font-size: 2rem;
    font-weight: 600;
    background: none;
    border: none;
    color: grey;
    position: absolute;
    bottom: 30%;
    z-index: 3;
    height: 30%;
    width: 5%;
    border-radius: 20%;
}
.carousel-btns:nth-child(4){
    right:0;
}
.carousel-btns:nth-child(3){
    left:0%;
}
.carousel-btns:hover{
    color: rgb(216, 216, 216);
    backdrop-filter: blur(5px);
}

