.ic1 {
    height:100%;
    width: 15rem;
    background-color: rgb(237, 237, 237);
    border-radius: 10px;
    padding: 4%;
    position: relative;
    z-index: 1;

}
.ic1>img {
    height: 65%;
    width: 100%;
    border-radius: 10px;
}
.ic1-name{
    height: 12%;
    width: 100%;
    padding: 2%;
    overflow-y: hidden;
}
.ic1-price{
    height: 15%;
    width: 100%;
}
.ic1-price>p{
    margin: 0;
    padding: 0;
    text-align: right;
}
.ic1-price>p:nth-child(1){
    color:red;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

