.ic2 {
    width: 100%;
    height: 25rem;
    border-radius: 10px;
    padding: 2%;
    background-color: rgb(226, 226, 226);
    color: black;
    position: relative;
    overflow: hidden;
}
.ic2::before{
    content: '';
    height:inherit;
    width:inherit;
    position: absolute;
    z-index: 1;
    background: rgba(0,0,0,0.5);
    top: 0;
    right: 100%;
    border-radius: inherit;
    transition:right .8s  ;
}

.ic2-img {
    height: 70%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.ic2-img>img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: transform 1s;
   
}
.ic2-like{
  position: absolute;
  right: 0%;
  z-index: 2;
}
.ic2-title {
    width: 100%;
    height: 10%;
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 600;
    overflow: hidden;
}

.ic2-price {
    width: 100%;
    height: 13%;
    display: flex;
    position: relative;
}
.ic2-price>div>b{
    color:red;
    font-size: 1.2rem;
}
.ic2-btn{
    position: absolute;
    right: 2%;
    width: 40%;
    height: 2rem;
}
.ic2-btn>button{
    height:inherit;
    width: 100%;
    background-color: #6499E9;
    border: none;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(112, 112, 112);
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.2rem;
    position: relative;
    z-index: 2;

}
.ic2-btn>button:hover{
    background-color: #0f6df9;
}

.ic2-rating {
    width: 100%;
    height: 7%;
}
.ic2:hover::before{
    right: 0;
}
.ic2:hover .ic2-img>img{
    transform: scale(1.2);
    border-radius: 10px;
}