.spi_body{
    height:30rem;
    width:100%;
    display: flex;
    justify-content: space-evenly;
}
.spi_container{
    background: linear-gradient(to top,black,#6499E9, black);
    height: 90%;
    width: 30%;

}
.spi_heading{
    height: 20%;
    width: 100%;
    padding: 3%;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
}
.spi_container_body{
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4%;
    padding: 4%;
}
#no1{
    height: 100%;
    width: 100%;
}
@media screen and (max-width:480px){
    .spi_body{
        height:fit-content;
        width:100%;
        display: block;
        justify-content:center;
        flex-direction: column;
    }
    .spi_container{
        background: linear-gradient(to top,black,#6499E9, black);
        height: 90%;
        width: 100%;
    
    }
}