.signin{
    overflow: hidden;
    height: 100vh;
    width: 100%;
}
.signin-body{
    min-height: 100vh;
    background-image: url(./luffy2.png);
    background: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.signin-secA{
    height: 27rem;
    width: 27%;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px #454544 ;
    border-radius: 20px;
    color: white;
    padding: 1%;
}
.signin-secA>h3{
    text-align: center;
    letter-spacing: 1px;
    font-weight: 800;
    color: rgb(29, 58, 133);
    text-shadow: 5px 4px 5px white;

}
.signin-secA>label{
    font-size: 1.3rem;
    margin: 2% 0;
}
.signin-secA>p{
    margin: 2% 0;
}
.signin-secA>p:hover{
    color:rgb(29, 58, 133);

}
.signin-secA>h6{
    color: black;
    text-align: center;
    margin: 10% 0 0 0 ;
    padding: 0;
}
.signin-secA>h5{
  text-align: center;
  margin:2%;
}
.signin-secA>h5:hover{
    color:rgb(29, 58, 133);
}
.enter{
    width: 100%;
    height: 1.8rem;
    border-radius: 5px ;
    outline: none;
    border-style: none;
    padding: 2%;
}
.signin-btn{
    height: 2rem;
    width: 100%;
    border-radius: 5px;
    border-style: none;
    margin: 3% 0;
    color: white;
    font-weight: 700;
    letter-spacing:5px;
    background-color: rgb(29, 58, 133);

}
.signin-btn:hover{
    background-color: #f53928;
    color: white;
    box-shadow: 0px 0px 10px #454544 ;
}
#tologin{
    color:white;
    text-align: center;
    text-decoration: none;
    
}

@media screen and (max-width:480px) {
    .signin-secA{
        height: 27rem;
        width: 90%;
        backdrop-filter: blur(5px);
        box-shadow: 0px 0px 10px #454544 ;
        border-radius: 20px;
        color: white;
        padding: 5%;
    }
}